input[type=text], select, textarea {
    width: 30%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 3px solid rgb(7, 73, 1); /* Gray border */
    border-radius: 6px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px; /* Add a top margin */
    margin-bottom: 15px; /* Bottom margin */
    
  }
  div {
      background-color: rgb(232, 187, 228);
      border: 5px outset rgb(6, 6, 6);
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
  }